/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/02/2019, 18:44:29
    Author     : Master
*/

*{margin: 0; padding: 0}

$centralizado: 0 auto;

body{
    font-size: 14px; margin: $centralizado;
}

.ex1{
    width: 460px; padding: 20px; background-color: #1e90ff; margin: 0 auto;
    text-align: center; color: #fff;
}
label{
    display: block; margin: $centralizado; margin: 10px 0; padding: 10px; background-color: #f8f8f8;
}

input, textarea{
    padding: 5px; width: 450px; margin: $centralizado;
}

button{
    width: 465px; margin: $centralizado;
}

